{% extends 'base.html' %}
{% block content %}
    <div class="aboutpage">
        <div class="container has-text-centered">
            <div class="columns is-8 is-variable ">
                <div class="column is-two-thirds has-text-left">
                    <h1 class="title is-1 has-text-white">About Page</h1>
                    <p class="is-size-5 has-text-white">This App is to help you track and plan your workouts it allows you to add new workouts that you want and schedule it out but you must log in or signup.</p>
                </div>
{% endblock %}