{% extends 'base.html' %} {% block content %}

<h1 class="title has-text-white">Choose a Bodypart</h1>

<div class="gallery">
  {% for bodypart in bodyparts %}
  <a href="{% url 'bodypart_info' bodypart.pk %}">
    <div class="card">
      <div class="card-image">
          <figure class="image is-square">
            <img src="{{bodypart.img}}" alt="{{bodypart.name}}" />
          </figure>
      </div>
      <div class="card-header">
        <p class="card-header-title">{{bodypart.name}}</p>
      </div>
    </div>
  </a>
  {% endfor %}
</div>

{% endblock %}