{% extends 'base.html' %} 
{% block content %}
<div class="info__img">
    <img src="{{bodypart.img}}" alt="{{bodypart.name}}" />
</div>


<div class="info__name">
   
    <h1 class="title has-text-black">{{bodypart.name}}</h1>

</div>


<div class="info__container ">
 
    <div class="info__about has-text-white">
        <h4 class="title is-4 has-text-white"> Benefits</h4>
        <p>{{bodypart.benefits}}</p>
    </div>

    <div class="info__workouts mb-5">
        <h3 class="title is-3 has-text-white">Workouts</h3>
        <form class="mb-5" action="{% url 'workout_create' bodypart.pk %}" method="post">
            {% csrf_token %}
            <div class="field has-addons">
                <div class="control">
                    <input
                        class="input"
                        type="text"
                        name="name"
                        placeholder="Name"
                        required
                    />
                </div>
                <div class="control ">
                    <input
                        class="input"
                        type="text"
                        name="Instructions"
                        placeholder="Instructions"

                    />
                </div>
                <div class="control">
                    <input class="button is-primary" type="submit" value="Add Workout" />
                </div>
            </div>
        </form>

        {% for workouts in bodypart.workout.all %}
            <div class="workout has-text-white">
                <span>{{forloop.counter}}</span>
                <span><b>{{workouts.name}}</b></span>
                <span>{{workouts.Instructions}}</span>
               
            </div>
            <span>
                <div class="dropdown">
                  <div class="dropdown-trigger">
                    <button
                      class="button"
                      aria-haspopup="true"
                      aria-controls="dropdown-menu"
                    >
                      <span>Add to Schedule</span>
                      <span class="icon is-small">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                      </span>
                    </button>
                  </div>
                  <div class="dropdown-menu" id="dropdown-menu" role="menu">
                    <div class="dropdown-content">
                      {% for schedule in schedule %}
      
                      <a href="{% url 'schedule_workout_assoc' schedule.pk workouts.pk %}?assoc=add"
                        class="dropdown-item"
                      >
                        {{schedule.title}}
                      </a>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </span>
        {% empty %}
            <article class="message">
                <div class="message-header">
                    <p>No workouts saved</p>
                </div>
            </article>

        {% endfor %}
    </div>
</div>

{% endblock %}