{% extends 'base.html' %}
{% block content %}

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-9 is-offset-1">
        <div class="columns featured-post is-multiline">
          <div class="column is-11 post">
            <article class="columns featured">
              <div class="column is-8 post-img ">
                <img src="https://media.istockphoto.com/id/649148696/vector/cartoon-heart-character-running-on-treadmill.jpg?s=170667a&w=0&k=20&c=M8Zm205Z6OCLXoJ2FC4JhOOdiqh7mcnUbKkZk1TIGks=">
              </div>
              <div class="column is-5 featured-content va">
                <div>
                  <h1 class="title post-title has-text-white">Welcome To GymApp</h1>
                  <p class="post-excerpt has-text-white" >This App is to help you track and plan your workouts it allows you to add new workouts that you want and schedule it out but you must sign in or signup</p>                                  
                </div>
              </div>
            </article>
          </div>
        </div>
{% endblock %}