{% extends 'base.html' %} 
{% block content %}
<div class="schedules">
    {% for schedule in schedule %}

        <div class="playlist mb-5">
            <h3 class="title is-3 has-text-success">{{schedule.title}}</h3>
            <hr />

            {% for workout in schedule.workouts.all %}

                <div class="workouts">
                    <span>{{forloop.counter}}</span>
                    <span><b>{{workout.name}}</b></span>

                </div>

            {% endfor %}
        </div>
    {% empty %} 
        <div class="schedule mb-5">"There are no workouts in this schedule"</div>
    {% endfor %}
</div>
{% endblock %}
